brain/.env
client/.env.local
client/node_modules
client/dist
client/build
client/.cache
client/.next
client/.vscode
client/package-lock.json
server/.env
server/node_modules
server/dist
server/build
server/.cache
server/.next
server/.vscode
server/database.sqlite
server/package-lock.json